<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXUpdatesSDKVersion</key>
	<string>YOUR-APP-SDK-VERSION-HERE</string>
	<key>EXUpdatesURL</key>
	<string>YOUR-APP-URL-HERE</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSCalendarsUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSCameraUsageDescription</key>
	<string>카메라 권한을 허용하시겠습니까?</string>
	<key>NSContactsUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSFaceIDUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>YOUR-PURPOSE-KEY</key>
		<string>YOUR TEXT</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSMotionUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>갤러리 권한을 허용하시겠습니까?</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>갤러리 사진 추가 권한을 허용하시겠습니까?</string>
	<key>NSRemindersUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSSiriUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>YOUR TEXT</string>
</dict>
</plist>
